p1{font-family:"Times New Roman", Times, serif;}
p2{font-size:40px;}
p3 {color:#00ff00;}
p4 {color:red;}
body {background-color:#9a2ab6;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}


